PORT=
APPNAME=
ALLOWED_ORIGIN=

JWT_SIGNATURE_KEY=
TOKEN_COOKIE_NAME=

# db config
DB_DRIVER=
DSN=

# Migration variables
GOOSE_DRIVER=
GOOSE_DBSTRING=
GOOSE_MIGRATION_DIR=

# Docker Compose
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=